{% extends "base.html" %}

{%- block secondbar -%}
<!-- Secondary navbar -->
<div class="navbar" role="navigation">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li><a href="{{ url_for("admin.user_list") }}">List Users</a></li>
            <li><a href="{{ url_for("admin.create", action="IncidentType") }}">Add Incident Type</a></li>
            <li><a href="{{ url_for("admin.create", action="UnitsImpacted") }}">Add Units Impacted</a></li>
            <li><a href="{{ url_for("admin.create", action="AssistanceRequested") }}">Add Assistance Requested</a></li>
            <li><a href="{{ url_for("admin.role_create") }}">Add Role</a></li>
        </ul>
    </div>
</div>

{%- endblock -%}
