{% extends "admin/base.html" %}

{% block content %}
    <hr />
    
    <h2><a href="#incidenttypes">Incident Types</a></h2>
    <table class="table table-condensed table-striped">
        <thead>
            <th>Incident Type</th>
            <th>SMS Code</th>
            <th>Display Order</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for type in incidenttypes %}
            <tr>
                <td>{{ type.name }}</td>
                <td>{{ type.shortCode }}</td>
                <td>{{ type.order }}</td>
                <td>
                    <a href="{{ url_for("admin.update", id=type.id, action="IncidentType") }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for("admin.delete", id=type.id, action="IncidentType") }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <hr />
    
    <h2><a href="#unitsimpacted">Housing Units Impacted</a></h2>
    <table class="table table-condensed table-striped">
        <thead>
            <th>Housing Units</th>
            <th>SMS Code</th>
            <th>Display Order</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for units in unitsimpacted %}
            <tr>
                <td>{{ units.name }}</td>
                <td>{{ units.shortCode }}</td>
                <td>{{ units.order }}</td>
                <td>
                    <a href="{{ url_for("admin.update", id=units.id, action="UnitsImpacted") }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for("admin.delete", id=units.id, action="UnitsImpacted") }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <hr />
    
    <h2><a href="#assistancerequested">Assistance Requested Types</a></h2>
    <table class="table table-condensed table-striped">
        <thead>
            <th>Assistance Requested</th>
            <th>SMS Code</th>
            <th>Display Order</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for assistance in assistancerequested %}
            <tr>
                <td>{{ assistance.name }}</td>
                <td>{{ assistance.shortCode }}</td>
                <td>{{ assistance.order }}</td>
                <td>
                    <a href="{{ url_for("admin.update", id=assistance.id, action="AssistanceRequested") }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for("admin.delete", id=assistance.id, action="AssistanceRequested") }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
    <hr />
    
    <h2><a href="#roles">Roles</a></h2>
    <table  class="table table-condensed table-striped">
        <thead>
            <th>Role</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td><a href="{{ url_for("admin.role_edit", id=role.id) }}" class="btn btn-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
