{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
    <h2>
        {% if create %}
            Add new 
        {% else %}
            Edit 
        {% endif %}
        Subscription
    </h2>
    
    <div class="row">
        <div class="col-md-6">
            <form action="?{{ request.query_string }}" method="post">
                {{ forms.render(form) }}
                <div class="actions">
                    <input type="submit" class="btn primary" value="save">
                    <a href="{{ url_for("dispatch.index") }}" class="btn secondary">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            {% if target.status == "APPROVED" %}
                {% if target.methods == "Email" or target.methods == "Both" %}            
                    <p><button type="button" id="reconfirmEmail" class="btn-lg btn btn-warning" data-page="{{ url_for('subscriber.resend', id=current_user.id) }}" data-user="{{ current_user.id }}" data-email="{{ current_user.subscription.email }}">
                        Resend Email Confirmation
                    </button></p>
                {% endif %}
                {% if target.methods == "SMS Phone" or target.methods == "Both" %} 
                    <p><button type="button" id="reconfirmSMS" class="btn-lg btn btn-warning" data-page="{{ url_for('subscriber.resend', id=current_user.id) }}" data-user="{{ current_user.id }}" data-smsphone="{{ current_user.subscription.smsPhone }}">
                        Resend SMS Confirmation
                    </button></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    
<button type="button" id="btn-activate-{{ user.id }}" class="btn-xs btn btn-warning btn-activate{% if user.active is sameas true %} hide{% endif %}" >
                            Activate
                        </button>
    
    
{% endblock %}
